# Node.js
node_modules/

# Build folders
dist/
build/
.vite/

# Python
venv/
__pycache__/
*.pyc

# Environment files
.env

# VS Code
.vscode/

# Dataset
data/raw/

# Temporary files
tempCodeRunnerFile.py

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db